.work-container {
  margin-top: 10px;
  background-color: #fffdb4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 3vw 6vw;
}
.work-heading {
  font-weight: 600;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 3.75rem;
  line-height: 1.17;
}

.work-para {
  padding: 3vw 7.5vw;
  color: #272727;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
}
.wrap-text {
  margin-top: 5vw;
  width: 80%;
  background-color: #d63384;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  gap: 7vw;
  padding-bottom: 2vw;
}
.wrap-text-para {
  padding: 1.1rem;
  font-weight: 600;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 3.75rem;
  line-height: 1.17;
  opacity: 0.5;
  color: rgb(90, 10, 47);
}
.text-btn {
  width: 190px;
  height: 70px;
  background-color: #dedb7b !important;
  border-color: #dedb7b;

  margin: auto;

  transition: all 0.2s ease-in-out;

  word-break: break-word;
  color: var(--text);
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text);
  border: none;
  border-radius: 25px;
  border: none;
}
.text-btn:hover {
  background-color: black;
  border: 2px solid black;
}
.price-enqiury {
  margin-top: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2vw;
  background-color: black;
}
.price-heading {
  padding: 2rem 26rem;
  font-weight: 600;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 3.75rem;
  line-height: 1.17;
  color: var(--textColor);
  text-align: center;
}
.price-para {
  padding: 1rem 25rem;
  color: var(--textColor);
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
.price-img {
  padding-top: 2vw;
  padding-bottom: 2vw;
  height: 19vw;
  width: 39vw;
}
@media (max-width: 600px) {
  .price-heading {
    padding: 0;
  }
  .price-para {
    padding: 0;
  }
  .price-img {
    width: 80%;
  }
}
