* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Kantumruy Pro", sans-serif;
}
.wrapper-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6em;
  /* background-color: aqua; */
}
.wrapper-text {
  width: 80%;
  padding: 3vw 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1vw; */
}

.wrapper-heading {
  padding: 0 2vw;
  font-size: 3.75rem;
  line-height: 1.17;
  color: #999999;
  font-weight: 400;
  font-family: "Kantumruy Pro", sans-serif;
}
.wrapper-para {
  padding: 0 2vw;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
  color: #352727;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5;
}
.wrapper-image-container {
  width: 80%;

  object-fit: cover;
  display: flex;
}
.wrap-image {
  /* width: 6.25rem; */
  height: 32rem;
  padding-right: 2vw;
}
@media (max-width: 600px) {
  .wrapper-container {
    flex-direction: column;
    align-items: center;
  }
  .wrapper-text {
    text-align: center;
    width: 100%;
  }
  .wrapper-image-container {
    width: 100%;
  }
}
