body {
  font-family: "Kantumruy Pro", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --yellow: rgb(222, 219, 123);
  --textColor: rgb(254, 254, 254);
  --heading: #999999;
  --text: #272727;
}
